extends layout
block head
	link(rel="stylesheet",href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css")
	link(rel='stylesheet',href='/vendor/bootstrap.css')
	script(type="text/javascript", src="/vendor/jquery-1.11.1.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js")
block content
	ol(style="margin-top:30px").breadcrumb.container
		li
			a(href="/") Home
		li.disabled Results
	each item in data.question
		h1.text-center #{item.question}

	div(id="myfirstchart",style="height: 200px").container
	div(id="myfirstchartt",style="height: 200px").container.push-left
	-if(typeof(data.ans) != null)
	!= "<script type='text/javascript'>"
	!= "var data = [];"
	!= "var sata = [];"
	each item in data.ans
		!= "data.push({answer:'"+item.answer+"',value:'"+item.count+"'});"
		!= "sata.push({label:'"+item.answer+"',value:'"+item.count+"'});"
	!= "</script>"
	script(type="text/javascript").
		new Morris.Bar({
		element: 'myfirstchart',
		data:data,
		xkey: 'answer',
		ykeys: ['value'],
		labels: ['Value']
		});
		new Morris.Donut({
		element: 'myfirstchartt',
		data:sata,
		
		});
